Employee Details
<table class="table bordered">
  <tr>
    <th>empId</th>
    <th>name</th>
    <th>designation</th>
    <th>salary</th>
  </tr>
  <tbody>
      <tr *ngFor="let employee of employees">
          <td>{{employee.empId}}</td>
          <td>{{employee.name}}</td>
          <td>{{employee.designation}}</td>
          <td>{{employee.salary}}</td>
          <td><button class="btn btn-danger" (click)="deleteEmployee(employee.empId)">Delete Employee</button></td>
          </tr>
  </tbody>
 </table>


 